:root {
  --FONT: "Source Sans Pro", "Lora", "Roboto", sans-serif;
  --FONT-COLOR: #1f1f1f;
  --FONT-SIZE-SMALL: 14px;
  --FONT-SIZE-MEDIUM: 18px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--FONT);
  color: var(--FONT-COLOR);
  scroll-behavior: smooth;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
